body{
    background-color: rgb(247, 191, 222);
}



p{

    color:#cb4e80;
    font-size: 80px;
    font-weight: 600;
    font-family: myfont;
    display: flex;
    justify-content: center;
    
}

#loopy{
    width: 300px;
    opacity: 100%;
    border:10px solid rgb(238, 158, 201);
    
}

#portrait{
    width: 300px;
    opacity: 100%;
    border:10px solid rgb(238, 158, 201);
    
}


#container {
    display: flex;
    justify-content: center; 
    align-items: center;  
    gap: 150px; 
    
}

#portrait-img {
    width: 400px; /* gleiche Größe wie andere Bilder */
    border-radius: 20px;
    align-items: center;
    border: 5px solid rgb(238, 158, 201);
}

.button {
    width: 300px;
    cursor: pointer;
    height: auto;
}

@font-face {
    font-family: myfont;
    src: url(./fonts/Pacifico-Regular.ttf);
}


.gallery{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
}

.card{
    background: rgba(197, 49, 133, 0.146);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}


.card img{
    width:400px;
    border-radius: 20px;
    border: 20px solid rgb(238, 158, 201);
    align-items: center;
}


#link{
    font-size: medium;
}


