body{
    background-color: rgb(247, 191, 222);
}



.button{
    width: 250px;
    display: flex;
    justify-content: center;
}  

p{

    color:#cb4e80;
    font-size: 50px;
    font-weight: 600;
    font-family: myfont;
    display: flex;
    justify-content: center;
    
}

#loopy{
    width: 400px;
    opacity: 100%;
    border:10px solid rgb(238, 158, 201);
    
}


#container{
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: myfont;
    src: url(./fonts/Pacifico-Regular.ttf);
}


