body{
    background-color: rgb(247, 191, 222);
}



.button{
    width: 250px;
    display: flex;
    justify-content: left;
}  

p{

    color:#cb4e80;
    font-size: 50px;
    font-weight: 600;
    font-family: myfont;
    display: flex;
    justify-content: center;
    
}

#loopy{
    width: 400px;
    opacity: 100%;
    border:10px solid rgb(238, 158, 201);
    
}


#container{
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: myfont;
    src: url(./fonts/Pacifico-Regular.ttf);
}


.gallery{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

/* transparente Box */
.card{
    background: rgba(134, 199, 240, 0.535);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

/* Bilder */
.card img{
    width: 350px;
    border-radius: 15px;
    border: 5px solid rgb(238, 158, 201);
}



