
body{
    overflow: hidden;
    background-color: black;
}


#frame_container{


    width:150vw;
    display: flex;
    justify-content: center;
    overflow: hidden;


}

#frame{

    height:100vh;

}
